* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: url('users_background.jpeg') ;
  background-repeat: no-repeat;
  background-size: 1820px 900px;
}

body {
  margin: 0;
}