.button {
    font: inherit;
    border: 1px solid #fdd9e3;
    background: #fdd9e3;
    color: rgb(255, 255, 255);
    padding: 0.25rem 1rem;
    cursor: pointer;
    text-shadow: 10px;
  }
  
  .button:hover,
  .button:active {
    background: #fab3d4;
    border-color: #fab3d4;
  }
  
  .button:focus {
    outline: none;
  }